/* Stile generico per i bottoni */
.button {
    -fx-padding: 10px 20px;
    -fx-font-size: 18px;
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-border-color: transparent;
    -fx-border-radius: 5px;
    -fx-opacity:0.9;
}

.button:hover {
    -fx-background-color: #4682B4; /*#2980b9;*/
    -fx-opacity:0.9;
}

.button:pressed {
    -fx-background-color: #1c4a6e;
    -fx-opacity:0.9;
}

/* Stile specifico per il backButton */
#backButton {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-pref-width: 105px;
    -fx-pref-height:42px;
}

#backButton:hover {
    -fx-background-color: #c0392b;
}

#backButton:pressed {
    -fx-background-color: #96281b;
}

#titolo {
    -fx-font-size: 36px;
    -fx-font-family: "Century Gothic", sans-serif;
    -fx-opacity: 0.9;
}

#sfondoLeaderboard {
	-fx-background-image: url('paesaggio3.jpg');
	-fx-background-size: cover;
}

#riquadro {
    -fx-background-color: rgba(255, 255, 255, 0.7); 
    -fx-padding: 10px; 
    -fx-opacity:0.8;
}

.table-view{
	-fx-border-width: 2px;
    -fx-border-color: white;
    -fx-border-radius: 5px;
    -fx-opacity:0.9;
}

.table-view .column-header-background{
    -fx-background-color: #3498db;
}

.table-view .column-header-background .label{
    -fx-text-fill: #0f253c;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.table-view .column-header {
    -fx-background-color: #4682B4;
    -fx-border-radius: 5px;
    -fx-opacity:0.9;
}

.table-view .table-cell{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-alignment: center;
}

.table-row-cell{
    -fx-background-color: #3498db;
}

.table-row-cell:odd{
    -fx-background-color: #3498db;
}
