/* Stile specifico per il backButton */
#backButton {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-pref-width: 105px;
    -fx-pref-height:42px;
}

#backButton:hover {
    -fx-background-color: #c0392b;
}

#backButton:pressed {
    -fx-background-color: #96281b;
}

/* Stile per le etichette generiche */
.label {
    -fx-font-size: 38px;
    -fx-font-family: "Century Gothic", sans-serif;
    -fx-opacity: 0.9;
}

/*#popUp {
	-fx-background-color: #4682B4;
}*/

/* Stile per il HBox */
#riquadro {
    -fx-background-color: rgba(255, 255, 255, 0.7); /* Bianco opaco */
    -fx-padding: 10px; /* Padding per spaziatura interna */
    -fx-opacity:0.8;
}

/* Stile generico per i bottoni */
.button {
    -fx-padding: 10px 20px;
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-border-color: transparent;
    -fx-border-radius: 5px;
    -fx-opacity:0.9;
}

.button:hover {
    -fx-background-color: #4682B4;
    -fx-opacity:0.9;
}

.button:pressed {
    -fx-background-color: #1c4a6e;
    -fx-opacity:0.9;
}

#bottoneCarte {
	-fx-background-color: rgba(255, 255, 255, 0.8);
	-fx-color: #fff;
	-fx-padding: 10px 20px;
	-fx-font-family: Century Gothic;
	-fx-font-size: 14px;
	-fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-opacity:0.9;
}

#bottoneCarte:hover {
	-fx-background-color: #4682B4;
	-fx-opacity:0.9;
}

#bottoneCarte:pressed {
    -fx-background-color: #1c4a6e;
    -fx-opacity:0.9;
}

#bottoneImprevisto {
	-fx-background-color: rgba(255, 255, 255, 0.8);
	-fx-color: #fff;
	-fx-padding: 10px 20px;
	-fx-font-family: Century Gothic;
	-fx-font-size: 14px;
	-fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-opacity:0.9;
}

#bottoneImprevisto:hover {
	-fx-background-color: #4682B4;
	-fx-opacity:0.9;
}

#bottoneImprevisto:pressed {
    -fx-background-color: #1c4a6e;
    -fx-opacity:0.9;
}

#bottoneEffetto {
	-fx-background-color: rgba(255, 255, 255, 0.8);
	-fx-color: #fff;
	-fx-padding: 10px 20px;
	-fx-font-family: Century Gothic;
	-fx-font-size: 14px;
	-fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-opacity:0.9;
}

#bottoneEffetto:hover {
	-fx-background-color: #4682B4;
	-fx-opacity:0.9;
}

#bottoneEffetto:pressed {
    -fx-background-color: #1c4a6e;
    -fx-opacity:0.9;
}

#bottoneTerreno {
	-fx-background-color: rgba(255, 255, 255, 0.8);
	-fx-color: #fff;
	-fx-padding: 10px 20px;
	-fx-font-family: Century Gothic;
	-fx-font-size: 14px;
	-fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-opacity:0.9;
}

#bottoneTerreno:hover {
	-fx-background-color: #4682B4;
	-fx-opacity:0.9;
}

#bottoneTerreno:pressed {
    -fx-background-color: #1c4a6e;
    -fx-opacity:0.9;
}

#sfondoCarte {
	-fx-background-image: url('paesaggio2.jpg');
	-fx-background-size: cover;
}

#tipologiaRicerca {
    -fx-font-size: 12px;
    -fx-font-family: "Century Gothic", sans-serif;
    -fx-font-weight: bold;
    -fx-opacity: 0.9;
}

#tipologiaRicerca2 {
    -fx-font-size: 12px;
    -fx-font-family: "Century Gothic", sans-serif;
    -fx-font-weight: bold;
    -fx-opacity: 0.9;
}

#riquadro2 {
    -fx-background-color: rgba(255, 255, 255, 0.7); /* Bianco opaco */
    -fx-padding: 10px; /* Padding per spaziatura interna */
    -fx-opacity:0.8;
}
